*{
	padding:0;
	margin:0;
}
a{
	text-decoration:none;
}
.container{
	width:100%;
	height:30px;
	border-bottom:1px solid grey;
}
.top{
	width:1200px;
	height:30px;
	margin:0 auto;
}
.left{
	float:left;
	margin-left:110px;

}
.left>li{
	float:left;
	margin-left:10px;
	font-size:12px;
	line-height:30px;
	font-family:微软雅黑;
	list-style-type:none;
}
.left img{
	margin-left:10px;
	vertical-align:middle;/*图片与文字对齐*/
	margin-right:4px;
}
.right{
	float:right;
	margin-right:110px;

}
.right>li{
	float:left;
	margin-left:10px;
	font-size:12px;
	line-height:32px;
	list-style-type:none;
	font-family:微软雅黑;
}
.container1{
	width:100%;
	height:104px;
	margin:0 auto;
}
.g1{
	margin:0 auto;
	width:1200px;
	height:104px;
}
.text1{
	margin-left:85px;
	float:left;
	margin-top:20px;

}
.text2{
	float:left;
	margin-left:105px;
	margin-top:37px;
}
.search{
	float:left;
}
.border1{
	border:2px solid red;
	width:405px;
	height:35px;
}
.p1{
	float:left;
	width:92px;
	height:39px;
	background-color:red;
	margin-left:0px;
}
.p1 p{
	color:white;
	font-size:16px;
	font-family:微软雅黑;
	text-align:center;
	padding:8px;
}
.text3{
	/*margin-left:68px;*/
	margin-top:0px;
	float:left;
}
.text4{
	float:left;
	margin-left:5px;
	margin-top:38px;
	border:2px solid #e3e3e3;
	width:145px;
	height:38px;
}
.text4 img{
	padding-left:22px;
	padding-top:8px;
}
.car1{
	float:left;
}
.car2{
	float:left;
	margin-left:6px;
}
.car2 p{
	font-size:14px;
	font-family:微软雅黑;
	padding-top:9px;
	color:#686868;
}
span{
	color:red;
	font-size:14px;
	font-family:微软雅黑;
}
.container2{
	width:100%;
	height:49px;
	border-bottom:2px solid red;
}
.text5{
	margin-left:90px;
}
.left1{
	float:left;
	padding:8px;

}
.left1>li{
	float:left;
	margin-left:24px;
	font-size:16px;
	color:#333333;
	list-style-type:none;
	font-family:微软雅黑;
	height:32px;
}
.left1 a{
	color:#333333;
}
.left1>li:hover{
	background-color:red;
}
.container3{
	width:100%;
	height:464px;
	background:url(../img/wyhbig1.gif) no-repeat center center;
}
.text6{
	margin-top:27px;
	margin-left:160px;
}
.text6 p{
	font-family:微软雅黑;
	font-size:14px;
}




.container5{
	width:100%;
	height:1034px;
	background-color:#fbfbfb;
	margin:0 auto;
}
.g4{
	width:1200px;
	margin:0 auto;
}
.ap{
	font-size:14px;
	font-family:微软雅黑;
}
.sum1{
	width:212px;
	height:536px;
	margin-top:25px;
	float:left;
}
.all1{
	background-color:white;
	width:215px;
	height:40px;
}
.add1{
	float:left;
	margin-left:25px;
	margin-top:8px;
}
.p5{
	float:left;
	margin-top:6px;
	margin-left:15px;
}
.p5 p{
	font-size:16px;
	font-family:微软雅黑;
}
.all2{
	background-color:white;
	width:215px;
	height:490px;
	margin-top:12px;
}
.all2 p{
	font-size:16px;
	font-family:微软雅黑;
	padding-top:15px;
	padding-left:70px;
}
.addp{
	color:red;
}
.sum2{
	float:left;
	background-color:white;
	width:973px;
	height:823px;
	margin-left:15px;
	margin-top:32px;
}
.ap1{
	border:1px solid #dbdbdb;
	float:left;
	width:213px;
	height:250px;
	margin-left:15px;
	margin-top:9px;
}
.ap1 img{
	padding-left:60px;
	padding-top:25px;
}
.p3{
	text-align:center;
	font-size:16px;
	font-family:微软雅黑;
}
.p4{
	text-align:center;
	font-size:15px;
	font-family:微软雅黑;
}
.ap2{
	float:left;
	margin-left:15px;
	border:1px solid #dbdbdb;
	width:213px;
	height:250px;
	margin-top:9px;
}
.ap2 img{
	padding-left:45px;
	padding-top:25px;
}
.ap3{
	float:left;
	margin-left:15px;
	border:1px solid #dbdbdb;
	width:213px;
	height:250px;
	margin-top:9px;
}
.ap3 img{
	padding-left:88px;
	padding-top:9px;
}
.ap4{
	float:left;
	margin-left:15px;
	border:1px solid #dbdbdb;
	width:213px;
	height:250px;
	margin-top:9px;
}
.ap4 img{
	padding-left:28px;
	padding-top:14px;
}
.b1{
	border:1px solid #b8b8b8;
	width:60px;
	height:35px;
	margin-left:534px;
	margin-top:40px;
	float:left;
	background-color:white;
}
.b1 a{
	text-align:center;
	line-height:60px
	font-size:18px;
	font-family:微软雅黑;
	color:#a1a1a1;
	padding-left:18px;
	padding-top:10px;
}
.b2{
	border:1px solid #b8b8b8;
	width:60px;
	height:35px;
	margin-left:18px;
	margin-top:40px;
	float:left;
	background-color:white;
}
.b2 a{
	padding-left:6px;
	padding-top:10px;
	font-size:18px;
	font-family:微软雅黑;
	color:#a1a1a1;
}


.container6{
	width:100%;
	height:85px;
	background-color:#f83838;
}
.g2{
	width:1200px;
	height:85px;
	margin:0 auto;
}
.text12{
	float:left;
	/*margin-left:150px;*/
	margin-top:12px;
}
.p6{
	float:left;
	margin-left:15px;
	margin-top:30px;
}
.p6 p{
	color:white;
	font-size:18px;
	font-family:微软雅黑;
}
.text13{
	margin-left:180px;
	margin-top:12px;
	float:left;
}
.container7{
	width:100%;
	height:248px;
	background-color:#2e2e2e;
	float:left;
}
.g3{
	width:1200px;
	height:248px;
	margin:0 auto;
}
.c1{
	float:left;
	margin-top:12px;
}
.c1 ul{
	list-style-type: none;
	font-size:16px;
	font-family:微软雅黑;
	color:white;
}
.c1 li{
	padding-bottom:14px;
}
.c2{
	float:left;
	margin-left:180px;
	margin-top:12px;
}
.c2 ul{
	list-style-type: none;
	font-size:16px;
	font-family:微软雅黑;
	color:white;
}
.c2 li{
	padding-bottom:14px;
}
.end3{
	margin-left:280px;
	margin-top:12px;
	display:block;
}
.end3 ul{
	list-style-type:none;
	color:#848484;
	font-size:14px;
	font-family:微软雅黑;

}
.end3 li{
	float:left;
	padding-right:7px;
}
.end4{
	margin-left:276px;
	margin-top:8px;
}
.ending2{
	float:left;
	margin-left:4px;
	margin-top:10px;
}
.ending2 img{
	float:left;
	padding-right:2px;
}
.ending2 p{
	color:#848484;
	font-size:14px;
	font-family:微软雅黑;
}
